# Dependencies
node_modules/
.pnpm-store/

# Build output
.next/
out/
build/
dist/

# Environment variables
.env
.env*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/
.idea/

# Vercel
.vercel

# Turbopack
.turbo

# TypeScript
*.tsbuildinfo
next-env.d.ts